nodered/flows.json
[{"id":"c3bc317a.2cdb98","type":"function","z":"f7ef1202.481598","name":"powerScale","func":"\n// scale conversion to actual power to the PowerDice\nfunction scaleConversion(number, inMin, inMax, outMin, outMax) {\n    return (number - inMin) * (outMax - outMin) / (inMax - inMin) + outMin;\n}\n\n\n// Obtains the current available or consumed power from the solar power plant. \n// Positive values mean production, negative values mean self-consumption. \nvar freePower = global.get('solar-power') || 0;\n\n// Conversion of current production/consumption in Watts on a scale of -10-0-10\n\nmsg.payload = {\n         \"power\": Math.round(scaleConversion(freePower, -10000,10000,-10,10)),\n         \"powerW\": freePower\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1110,"y":120,"wires":[["61504359.86cd4c"]]},{"id":"61504359.86cd4c","type":"http response","z":"f7ef1202.481598","name":"","statusCode":"","headers":{},"x":1310,"y":120,"wires":[]},{"id":"60fdb1a5.fe78c8","type":"http in","z":"f7ef1202.481598","name":"","url":"/dice","method":"get","upload":false,"swaggerDoc":"","x":920,"y":120,"wires":[["c3bc317a.2cdb98"]]}]